# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are sumarized.

## **Objectives:**
* List popular languages for Data Scientists
- Commonly used libraries by Data Scientists
* Data Science tools

## Some of the popular languages that Dara Scientists use are:

In [7]:
my_list = ["Python", "SQL", "R"]
print(my_list)

['Python', 'SQL', 'R']

In [4]:
print(f"my_list: {my_list}")

my_list: ['Python', 'SQL', 'R']

## Some of the popular languages that Dara Scientists use are:

In [6]:
for i, my_list in enumerate(my_list, 1):
    print(f"{i}. {my_list}")

1. Python
2. SQL
3. R

## Some of the commonly used libraries used by Data Scientists include:

In [8]:
Libraries = ["NumPy", "Pandas", "Scickit-learn", "Matplotlib"]
for i, Libraries in enumerate(Libraries, 1):
    print(f"{i}.{Libraries}")

1.NumPy
2.Pandas
3.Scickit-learn
4.Matplotlib

## Data Science Tools

In [32]:
import pandas as pd
from IPython.display import display, Markdown
Tools = {
    'Data Science Tools': ['RStudio', 'Jupyter Notebook/Lab', 'Apache Spark']
}

markdown_table = df.to_markdown(index=False)
print(markdown_table)
display(Markdown(markdown_table))

| Data Science Tools   |
|:---------------------|
| RStudio              |
| Jupyter Notebook/Lab |
| Apache Spark         |

| Data Science Tools   |
|:---------------------|
| RStudio              |
| Jupyter Notebook/Lab |
| Apache Spark         |

In [ ]:
df = pd.DataFrame(Tools)
print("Basic print")
print(df.to_string(index=False))

print("Dataframe Display")
display(df)

### Below are a few examples of evaluating arithmetic expressions in python

In [33]:
# This is a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [37]:
# This will convert 200 minutes to hours by dividing by 60
minutes = (200)
hours = (60)
total = (minutes/hours)
print(f"{total:.2f} hours")

3.33 hours

## Author
Juan